
{% extends "base.html" %}


{% block content %}
<div class="row clearfix">
	<div class="col-md-3 column">
		{% include "profile_sidebar.html" %}
	</div>
	<div class="col-md-9 column">
			<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					注册我的无人机
				</h3>
			</div>
			<div class="panel-body">
				<form role="form" method="post" id="uav_add_form">
				{% csrf_token %}

				<div class="form-group">
					<label for="exampleInputText">选择所属模型</label>				
					<select class="form-control" id="id_uav_model" name="uav_model">
						<option value ="">------</option>
					{% for u in uavmodel %}
						<option value ="{{u.id}}">{{u.uav_model}}</option>
					{% endfor %}
					</select>
				</div>
    			<div class="form-group">
					 <label for="exampleInputText">无人机编号</label><input type="text" class="form-control" id="id_uav_id_code" name="uav_id_code"/>
				</div>
				<div class="distpicker" id="id_nation">
					<div class="form-inline">
					<label for="">所在地址</label><br>
						<div class="form-group">
							<label class="sr-only" for="id_province">Province</label>
							<select class="form-control" id="id_province" name="province">
							</select>
						</div>
						<div class="form-group">
							<label class="sr-only" for="id_city">City</label>
							<select class="form-control" id="id_city" name="city"></select>
						</div>
						<div class="form-group">
							<label class="sr-only" for="id_district">District</label>
							<select class="form-control" id="id_district" name="district"></select>
						</div>
						</div>
				</div>
				<script type="text/javascript">
					$(".distpicker").distpicker({
						province: "",
						city: "",
						district: ""
					});
				</script>
				<div class="form-group">
					 <label for="exampleInputText">详细地址</label><input type="text" class="form-control" id="id_address" name="address"/>
				</div>
				<div class="form-group">
                	<label for="exampleInputText">购买时间</label>
                	<div class="input-group date form_datetime col-md-5" data-date="2015-01-01T05:25:07Z" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1">
                    	<input class="form-control" id="id_purchase_time" name="purchase_time" size="16" type="text" value="" >
                    	<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                	</div>
					<input type="hidden" id="dtp_input1" value="" /><br/>
            	</div>
<script type="text/javascript">
$('.form_datetime').datetimepicker({
	//language:  'fr',
	weekStart: 1,
	todayBtn:  1,
	autoclose: 1,
	todayHighlight: 1,
	startView: 2,
	forceParse: 0,
	showMeridian: 1
});
</script>
				<p class="form-actions">
				<input type="submit" value="确认" class="btn btn-primary">
				</p>
			</form>
			</div>
	</div>
</div>
 
{% endblock %}