
{% extends "backend_base.html" %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-3 column">
        {% include "backend_job_sidebar.html" %}
    </div>
    <div class="col-md-9 column">
    		<ul class="nav nav-pills">
				<li class="active">
					 <a>搜索作业</a>
				</li>
			</ul>
			<form method="post" role="search" id="user_username_search" class="form">
				{% csrf_token %}
				
					<div class="form-group">
						<label for="exampleInputText">通过作业流水号搜索</label>
						<input type="text" class="form-control" id="id_number" name="number"/>
					</div>
					<button type="submit" class="btn btn-primary">搜索</button>
				
			</form>
			<br>
			<form method="post" role="search" id="user_email_search" class="form">
				{% csrf_token %}
				
					<div class="form-group">
						<label for="exampleInputText">通过用户名搜索</label>
						<input type="text" class="form-control" id="id_user" name="user"/>
					</div> 
					<button type="submit" class="btn btn-primary">搜索</button>

			</form>
	</div>
</div>
{% endblock %}