
{% extends "backend_base.html" %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-3 column">
        {% include "backend_uav_model_sidebar.html" %}
    </div>
    <div class="col-md-9 column">
    		<ul class="nav nav-pills">
				<li class="active">
					 <a>搜索无人机型号</a>
				</li>
			</ul>
			<form method="post" role="search" id="user_username_search" class="form">
				{% csrf_token %}
				<div class="form-group">
					<label for="exampleInputText">通过无人机型号编号搜索</label>
					<input type="text" class="form-control" id="id_uav_model" name="uav_model"/>
				</div> 
				<button type="submit" class="btn btn-primary">搜索</button>
			</form>
			<br>
			<form method="post" role="search" id="user_email_search" class="form">
				{% csrf_token %}
				<div class="form-group">
					<label for="exampleInputText">通过无人机型号名称搜索</label>
					<input type="text" class="form-control" id="id_name" name="name"/>
				</div> 
				<button type="submit" class="btn btn-primary">搜索</button>
			</form>
	</div>
</div>
{% endblock %}